<div class='form-checkbox-group'>
	<input type='checkbox' data-dtype='boolean' name='add-scrolling' id='mess-numerical-scrolling' {{checked settings.add-scrolling}}/><label for='mess-numerical-scrolling'>{{localize 'MESS.settings.dnd5e.numericalScrolling.label'}}</label> 
		<a class='mess-info' href='https://github.com/Moerill/mess#numerical-scroller'></a>
		<span class='mess-hint'>{{localize 'MESS.settings.dnd5e.numericalScrolling.hint'}}</span>
</div>
<div class='form-checkbox-group'>
	<input type='checkbox' data-dtype='boolean' name='actor-item-sort' id='mess-itemsort' {{checked settings.actor-item-sort}}/><label for='mess-itemsort'>{{localize 'MESS.settings.dnd5e.itemSort.label'}}</label> 
		<a class='mess-info' href='https://github.com/Moerill/mess#alphabetical-item-sort'></a>
		<span class='mess-hint'>{{localize 'MESS.settings.dnd5e.itemSort.hint'}}</span>
</div>
<div class='form-checkbox-group'>
	<input type='checkbox' data-dtype='boolean' name='prepared-spell-tracker' id='mess-prepared-spells' {{checked settings.prepared-spell-tracker}}/><label for='mess-prepared-spells'>{{localize 'MESS.settings.dnd5e.preparedSpellTracker.label'}}</label> 
		<a class='mess-info' href='https://github.com/Moerill/mess#prepared-spell-tracker'></a>
		<span class='mess-hint'>{{localize 'MESS.settings.dnd5e.preparedSpellTracker.hint'}}</span>
</div>

<h2>{{localize 'MESS.settings.dnd5e.rolling.header'}}<a class='mess-info' href='https://github.com/Moerill/mess#rolling-and-targeting-change'></a></h2>
<div class='form-checkbox-group'>
	<input type='checkbox' data-dtype='boolean' name='modify-rolling' id='mess-modify-rolling' {{checked settings.modify-rolling}}/><label for='mess-modify-rolling'>{{localize 'MESS.settings.dnd5e.rolling.activate'}}</label> 
	<span class='mess-hint'>{{localize 'MESS.settings.dnd5e.rolling.hint'}}</span>
</div>
<div class='form-checkbox-group'>
	<input type='checkbox' data-dtype='boolean' name='max-critical' id='mess-max-critical' {{checked settings.max-critical}}/><label for='mess-max-critical'>{{localize 'MESS.settings.dnd5e.rolling.maxCrit.label'}}</label> 
		{{!-- does not exist atm <a class='mess-info' href='https://github.com/Moerill/mess#prepared-spell-tracker'></a>--}}
		<span class='mess-hint'>{{localize 'MESS.settings.dnd5e.rolling.maxCrit.hint'}}</span>
</div>
