<div class='form-checkbox-group'>
	<input type='checkbox' data-dtype='boolean' name='change-placeables' id='mess-change-placeables' {{checked settings.change-placeables}}/><label for='mess-change-placeables'>{{localize 'MESS.settings.misc.placeables.label'}}</label> 
		<a class='mess-info' href='https://github.com/Moerill/mess#numerical-scroller'></a>
		<span class='mess-hint'>{{localize 'MESS.settings.misc.placeables.hint'}}</span>
</div>
{{!--
<div class='form-checkbox-group'>
	<input type='checkbox' data-dtype='boolean' name='better-draggable-lists' id='mess-better-draggable-lists' {{checked settings.better-draggable-lists}}/><label for='mess-better-draggable-lists'>{{localize 'MESS.settings.misc.draggableLists.label'}}</label> 
		<a class='mess-info' href='https://github.com/Moerill/mess#drag-and-drop-animations-for-sorting-lists'></a>
		<span class='mess-hint'>{{localize 'MESS.settings.misc.draggableLists.hint'}}</span>
</div>
--}}
