<div class='mess-attack-card chat-card' data-actor-id={{actor.id}}>
	<div class='mess-chat-rolls {{#if isGM}}mess-gm-rolls{{/if}}'>
		<div class='mess-chat-to-hit {{#if showRolls}}mess-show-players{{/if}}'>
			<label class='mess-chat-roll-type'>{{title}}</label> <a class='mess-show-btn' title="{{localize 'MESS.attackCard.showToPlayers'}}"><i class="fas"></i></a>
			<div class="dice-roll {{#if isGM}}mess-gm-dice{{/if}} mess-dice-result" title='{{roll._formula}}={{roll.formula}}={{roll.total}}'>
				<span class='mess-dice-total'>{{roll.total}}</span>
				{{{tooltip}}}
			</div>
		</div>
	</div>
</div>