<style>
.welcome-screen a[href] {
    color: #4a52ca;
}
.welcome-screen .window-content > * {
	flex: 0;
}
</style>

<h1>Important!</h1>
<P>This update is only a quick fix for making the rolling system work again for FVTT 0.7.5. My <a href="https://github.com/Moerill/Mess/issues/109">plans</a> are taking to long, so i wanted to at least make the module work again in 0.7.5.<br>
    Please check the <a href="https://github.com/Moerill/Mess/issues">GitHubs issue board</a> if you want to stay up to date on my plans and progress!</p>

<p style="font-weight: bold; text-align: right;">Best regards, <br>Moerill</p>
<h2></h2>
<p style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;"><input type="checkbox" class='show-again' id="welcome-screen-show-again"/> <label for="welcome-screen-show-again">Don't show this screen again until next update.</label></p>
