.dark-mode {
	#chat {
		--highlight-color: #3a80e1;
	}

	.mess-attack-card {
		--border-color: #444;
		--border-button: #444;
		--font-sub-color: #9c9c9c;


		// --color-success: #18520b;
		// --color-fail: #aa0200;
		--color-success: #26a30a;
		--color-fail: #c40502;
		--font-color: #ccc; // check
	}
}


#chat {
	--highlight-color: red;
}

.mess-attack-card {
	--border-color: #FFF;
	--border-button: #999;
	--font-sub-color: #33322e;
	--color-success: #26a30a;
	--color-fail: #c40502;
	--font-color: #191813;
}

#chat-controls {

	.mess-roll-control {
		height: 1.8em;
		flex: 1 100%;
		display: flex;
		margin: 0.2em 0 0.15em 0;
		flex-flow: row nowrap;
		justify-content: space-between;
		div {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
		}

		.mess-adv-selector {
			--color-good: rgb(53, 233, 53);
			--color-bad: red;
			// flex: 0 50%;
			max-width: 50%;
			a {
				display: none;
				min-width: 30px;
				justify-content: center;
				flex-flow: row nowrap;
				align-items: center;
				opacity: 1;
				i {
					font-size: 1.2em;
					transform: rotate(-25deg);
				}
				&.mess-selected {
					display: flex;
				}
			}

			.mess-adv-btn {
				i:nth-child(1) {
					color: var(--color-good);
					font-size: 1.2em;
					transform: rotate(45deg);
					z-index: 1;
					position: relative;
					left: 0.1em;
				}
				i:nth-child(2) {
					position: relative;
					left: -0.1em;
					font-size: 1.0em;
					filter: brightness(0.5);
					transform: rotate(30deg);
					z-index: 0;
					// color: var(--color-bad);
				}
			}

			.mess-dis-btn {
				i:nth-child(1) {
					font-size: 1.0em;
					filter: brightness(0.5);
					transform: rotate(45deg);
					z-index: 0;
					// color: var(--color-good);
					position: relative;
					left: 0.1em;
				}
				i:nth-child(2) {
					color: var(--color-bad);
					font-size: 1.2em;
					transform: rotate(30deg);
					z-index: 1;
					position: relative;
					left: -0.1em;
				}
			}

			#mess-roll-mod {
				color: #ccc;
				margin: 0 0.5em;
				&::placeholder {
					color: #ccca;
				} 
			}
		}

		.mess-autoroll-selector {
			a {
				opacity: 0.5;
				border: 1px solid;
				border-radius: 3px;

				&.mess-selected {
					opacity: 1;
					border-color: var(--highlight-color);
				}
			}
		}
		a {
			padding: 0 3px;
			margin: 3px;
		}
	}
}

.mess-is-gm {
	#chat-controls {
		.mess-autoroll-selector {
			// flex: 0 40%;
		}

		.mess-show-btn {
			padding: 0;
			margin: 0;
		}
	}

	.mess-show-toggle {
		// flex: 0 10%;
		// position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		.mess-show-btn {
			&.active {
				opacity: 1;
			}
			display: block;
			
			top: -1.85em;
		}
	}
}
.mess-show-toggle {
	display: none;
}

.mess {

	// Hide useless buttons :D
	button[data-action="attack"] ~ button[data-action="damage"], button[data-action="versatile"] {
		display: none;
	}

	.mess-attack-card {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;

		#context-menu {
			max-width: 150px;
			width: 150px;
			min-width: 150px;
			text-align: left;
			left: calc(50% - 75px);
			.mess-context-menu-header {
				padding: 0.3em;
				background: #aaa3;
				i {
					padding: 0 3px 0 0;
					width: 1.3ch;
				}
				cursor: initial;
			}
			.context-item {
				line-height: 1.5em;
				padding: 0 1.5ch;
				display: flex;
				flex-flow: row-reverse nowrap;
				span {
					text-align: right;
					flex: 1;
					font-size: 1.2em;
					cursor: pointer;
				}
				label {
					cursor: pointer;
					flex: 0;
					color: #aaa;
				}
			}
		}
		
		.mess-dice-result {
			height: auto;
			.mess-roll-container {
				font-weight: bold;
				font-size:1.4em;
				height: 0.8em;

				.mess-roll-total {
					font-size: inherit;
				}
			}

			.crit {
				color: var(--color-success);
				// color: #26a30a;
			}

			.fumble {
				color: var(--color-fail);
				// color: #c40502;
			}

			#context-menu {
				min-width: unset;
			}
		}

	}

	.mess-button-to-hit, .mess-button-dmg, .mess-dice-result {
		cursor: pointer;
		background: rgba(0, 0, 0, 0.1);
		// border: 2px groove var(--border-color);
		border: 1px solid var(--border-button);
		box-shadow: 0 0 2px #FFF inset;
		height: 1.5em;
		line-height: 1.2em;
		width: 70%;
		border-radius: 0.3em;	
	}

	.mess-hit, .mess-miss {
		position: relative;
		&:after {
			background-color: var(--font-color);
			width: 1.2em;
			height: 1.2em;
			position: absolute;

			right: 0;
			content: '';
			display: inline-block;
			filter: saturate(80%);
		}
		&.crit:after{
			background-color: var(--color-success);
		}
		&.fumble:after {
			background-color: var(--color-fail);
		}
	}
	
	.mess-attack-card .dice-roll {
		background: rgba(0, 0, 0, 0.1);
		// border: 2px groove var(--border-color);

		border: 1px solid var(--border-button);
		box-shadow: 0 0 2px #FFF inset;
		height: auto;
		line-height: 1.2em;
		width: 70%;
	}
	.mess-hit:after {
		mask: url(../assets/shield-impact.svg) no-repeat 50% 50%;
		-webkit-mask: url(../assets/shield-impact.svg) no-repeat 50% 50%;
		bottom: 0px;
	}
	.mess-miss:after {
		mask: url(../assets/shield-reflect.svg) no-repeat 50% 50%;
		-webkit-mask: url(../assets/shield-reflect.svg) no-repeat 50% 50%;
		transform: scale(-1,1);
		bottom: -3px;
	}
	.mess-attack-flavor {
		flex: 1 100%;
		border-top: 2px groove var(--border-color);
		border-bottom: 2px groove var(--border-color);
		padding: 0.2em 0;
	}

	.mess-chat-error {
		flex: 1 100%;
		border-bottom: 2px groove var(--border-color);
		padding: 0.2em 0;
		color: var(--color-fail);
	}
	.mess-chat-target {
		flex:  40%;
		max-width: 40%;
		border-right: 2px groove var(--border-color);
		display: block;
		
		.mess-target-name {
			text-overflow: ellipsis;
			white-space: nowrap;
			// font-size: 0.8em;
		}

		img {
			z-index: 1;
			border: none;
			cursor: pointer;
			height: 75px;
			display: block;
			margin: 0 auto;
			&:hover {
				border: 1px solid var(--highlight-color);
			}
		}

		.mess-icon {
			position: relative;
			min-width: 1.2em;
			min-height: 1.2em;
			display: inline-block;
			&:before {
				background-color: var(--font-color);
				width: 1.8em;
				height: 1.8em;
				position: absolute;
	
				right: 0;
				content: '';
				display: inline-block;
				filter: saturate(80%);
			}
			
			&.ac:before {
				mask: url(../assets/shoulder-armor.svg) no-repeat 50% 50%;
				-webkit-mask: url(../assets/shoulder-armor.svg) no-repeat 50% 50%;
			}

			&.dam-res:before {
				mask: url(../assets/shield-impact.svg) no-repeat 50% 50%;
				-webkit-mask: url(../assets/shield-impact.svg) no-repeat 50% 50%;
				left: -0.3em;
			}

			&.dam-inv:before {
				mask: url(../assets/shield-reflect.svg) no-repeat 50% 50%;
				-webkit-mask: url(../assets/shield-reflect.svg) no-repeat 50% 50%;
				transform: scale(-1,1);
				bottom: -0.5em;
				left: -0.4em;
			}

			&.dam-vuln:before {
				mask: url(../assets/broken-shield.svg) no-repeat 50% 50%;
				-webkit-mask: url(../assets/cracked-shield.svg) no-repeat 50% 50%;
				left: -0.5em;
				height: 1.5em;
			}
		}
	}

	.mess-target-overlay {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-end;
		// height: 0;
		// overflow: visible;
		// color: #ddd;

		overflow: hidden;
		text-overflow: ellipsis;
		.mess-target-name {
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.mess-target-overlay-container {
			// position: relative;
			// z-index: 2;
			// background: rgba(31, 31, 31, 0.5);
			// box-shadow: 0 0 1em inset rgba(0,0,0, 1);
			// padding: 0.5em;
			width: fit-content;
			max-width: 100%;
			display: flex;
			flex-flow: column nowrap;
		}
	}

	.mess-chat-rolls {
		flex: 60%;
		display: block;

	}

	.mess-chat-to-hit, .mess-chat-dmg {
		width: 100%;
		text-align: center;

		flex-flow: column;
		align-items: center;
		justify-content: flex-start;
		display: flex;
	}

	.mess-chat-sub-label {
		font-size: 0.8em;
		opacity: 0.8;
		color: var(--font-sub-color);

		position: relative;
		top: -0.3em;
	}

	.mess-chat-roll-type {
		margin: 0.5em 0 0 0;
		width: 100%;
	}
}

.mess-is-gm {
	.mess-gm-info {
		display: block;
		// margin-top: 0.5em;
		border-top: 1px solid #aaa;
		// padding: 0.5em 0 0 0;
		width: 100%;
		list-style-type: none;
		label {
			font-weight: bold;
		}
		li:not(:first-child) {
			padding: 0.1em 0;
			border-top: 1px dashed #aaa;
		}
		i {
			font-size: 0.8em;
		}
	}

	.mess-gm-rolls {
		.mess-chat-to-hit, .mess-chat-dmg {
			display: flex;
		}
		.mess-show-btn {
			display: block;
		}

		.mess-show-players {
			.mess-button-dmg, .mess-button-to-hit {
				display: block;
				&+label {
					display: block;
				}
			}

			.mess-show-btn {
				opacity: 1;
				// i:before {
				// 	content: "\f070";
				// }
			}
		}

		.dice-tooltip {
			max-width: 100%;
			overflow: hidden;
		}
		.dice {
			display: block;
		}
	}
}

.whisper .mess-gm-rolls .mess-show-btn {
	display: none;
}

.mess-gm-rolls {
	.mess-chat-to-hit, .mess-chat-dmg {
		display: none;
	}

	.mess-show-players {
		display: flex;

		.mess-dice-result {
			display: flex;
		}

		.mess-button-dmg, .mess-button-to-hit {
			display: none;
			&+label {
				display: none;
			}
		}
	}

	.dice-tooltip {
		max-width: 0;
		overflow: hidden;
	}
	.dice {
		display: none;
	}
}

.mess-show-btn {
	opacity: 0.5;
	height: 0;
	position: relative;
	top: -1.25em;
	align-self: flex-end;
	display: none;

	i:before {
		content: "\f06e";
	}
}


// 	.mess-chat-to-hit {
// 		.mess-gm-dice {
// 			display: block;
// 			.mess-roll-total {
// 				display: inline;
// 			}
// 		}
// 	}
// 	.mess-gm-dice {
// 		.dice-tooltip {
// 			max-width: 100%;
// 			overflow: hidden;
// 		}
// 		.dice {
// 			display: block;
// 		}

// 		.mess-hit:after {
// 			right: -0.5em;
// 		}
// 		.mess-miss:after {
// 			right: -0.65em;
// 		}
// 	}
// }

// .mess-chat-to-hit {
// 	.mess-gm-dice {
// 		.mess-roll-total {
// 			.mess-roll-total {
// 				display: none;
// 			}
// 		}
// 	}
// }
// .mess-gm-dice {
// 	.dice {
// 		display: none;
// 	}
// 	.dice-tooltip {
// 		max-width: 0;
// 	}
// 	.mess-hit:after, .mess-miss:after {
// 		right: calc(50% - 0.6em);
// 	}
// }
.mess-gm-info {
	display: none;
}

.dnd5e.actor {
	.ability-mod, .ability-save {
		cursor: pointer;
		&:hover {
			color: #000;
			text-shadow: 0 0 10px red;
			cursor: pointer;
		}
	}
}


.dark-mode .dnd5e.actor {
	.ability-mod, .ability-save {
		&:hover {
			color: #3F88E6;
    	text-shadow: 0 0 10px #3F88E6;
		}
	}
}


// .mess-gm-dice {
// 	display: none;
// 	&+label {
// 		display: none;
// 	}
// }

// .mess-show-btn {
// 	opacity: 0.5;
// 	height: 0;
// 	position: relative;
// 	top: -1.25em;
// 	align-self: flex-end;
// }

// .mess-chat-to-hit, .mess-chat-dmg {
// 	&.mess-show-players {
// 		display: flex;
// 	}
// }
// .mess-show-players {
// 	.mess-show-btn {
// 		display: none;
// 		opacity: 1;
// 	}

// 	.mess-dice-result.mess-gm-dice {
// 		display: block;

// 		&+label {
// 			display: block;
// 		}
// 	}
// }

// .mess-is-gm {
// 	.mess-chat-to-hit, .mess-chat-dmg {
// 		display: flex;
// 	}
// 	.mess-show-btn {
// 		display: inline;
// 	}
// 	.mess-button-to-hit, .mess-button-dmg {
// 		display: block;
// 		&+label {
// 			display: block;
// 		}
// 	}
// }